*{
    margin: 0%;
    padding: 0%;
}
header{
    width: 100%;
    height: 550px;
    background-image: url(https://c.tenor.com/rSrDAKROANYAAAAC/cuphead-mugman.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
header h1{
    text-align: center;
    color: white;
    font-size: 60px;
    padding-top: 18%;
}